{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers before submitting your application</h1>


    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Details of your dog</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Oswald
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application, you are confirming that, to the best of your knowledge, the
      details you are providing are correct</p>

    <form action="/service/submit" method="post">
      <button type="submit" class="govuk-button">Accept and send</button>
    </form>

  </div>
</div>

{% endblock %}